<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>JSON Helper Extension Configuration</title>
    <link rel="stylesheet" href="../dist/css/coral.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../dist/js/coral.min.js"></script>
  </head>
  <body class="coral--light coral-Body--S u-coral-margin">
    <h3 class="coral-Heading--M">No configuration necessary</h3>

    <section class="coral-Well">
      <p>
        JSON is an open standard file format, and data interchange format, that uses human-readable
        text to store and transmit data objects consisting of attribute-value pairs and array data
        types (or any other serializable value). It is a very common data format, with a diverse
        range of applications, such as serving as a replacement for XML in AJAX systems.
      </p>
      <p>
        <a class="coral-Link" href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/JSON" target="_blank">
          Learn more about JSON.
        </a>
      </p>
      <p>
        This extension provides native support for JSON within Adobe Experience Platform Data
        Collection Tags. Run all of your JSON operations without using any custom code at all.
      </p>
    </section>

    <section class="coral-Well">
      <h4 class="coral-Heading--S coral-Heading--light">How to use this Extension</h4>
      <p>
        <b>Go to <span class="text-underline">Data Elements</span> and create a
        <span class="text-underline">"Parse"</span> or
        <span class="text-underline">"Stringify"</span> data element</b> from the "JSON Helper"
        extension.
      </p>
    </section>

    <hr class="coral-Divider--S">

    <footer class="coral--lightest coral-Body--XS">
      <div id="donations">
        <p>
          Donate: <a class="coral-Link" href="https://paypal.me/yuhuibc" target="_blank">PayPal</a>
        </p>
      </div>
      <div id="support">
        <p>
          Support Information
        </p>
        <ul class="coral-List">
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-json-helper/issues" target="_blank">
              Open a ticket
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-json-helper/blob/master/CHANGELOG.md" target="_blank">
              Read change log
            </a>
          </li>
        </ul>
      </div>

      <p>
        Copyright &copy; 2021 Yuhui. All rights reserved.
      </p>
      <p>
        <a class="coral-Link" href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a class="coral-Link" href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      const FORM_ID = 'extension-configuration';

      window.extensionBridge.register({
        init: (info) => {
          if (info.settings) {}
        },

        getSettings: () => {
          return {};
        },

        validate: () => {
          return true;
        }
      });
    </script>
  </body>
</html>
