<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Parse JSON String</title>
    <link rel="stylesheet" href="https://unpkg.com/@adobe/coral-spectrum@4.5.0/dist/css/coral.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://unpkg.com/@adobe/coral-spectrum@4.5.0/dist/js/coral.min.js" data-coral-icons-external="js"></script>
  </head>
  <body class="coral--light coral-Body--S u-coral-margin">
    <form id="data-element-configuration" class="coral-FormGroup coral-FormGroup--labelsAbove">
      <div class="coral-FormGroup-item">
        <label for="string-value" class="coral-FormGroup-itemLabel">
          Parse from this string or data element
          <coral-icon icon="Asterisk" class="coral-FieldLabel-requiredIcon" size="XXS" alt="required"></coral-icon>
        </label>
        <div class="coral-InputGroup" style="width: 100%;" role="presentation">
          <input id="string-value" name="stringValue" type="text" value="" class="coral-InputGroup-input" is="coral-textfield" placeholder="string to parse">
          <span class="coral-InputGroup-button">
            <button is="coral-button" icon="data" title="Data Element selector"></button>
          </span>
        </div>
      </div>
    </form>

    <section class="coral-Well">
      <h4 class="coral-Heading--S coral-Heading--light">How this Data Element works</h4>
      <p>
        Given a JSON string, this data element returns its JavaScript value.
      </p>
    </section>

    <hr class="coral-Divider--S">

    <footer class="coral--lightest coral-Body--XS">
      <div id="donations">
        <p>
          Donate: <a class="coral-Link" href="https://paypal.me/yuhuibc" target="_blank">PayPal</a>
        </p>
      </div>
      <div id="support">
        <p>
          Support Information
        </p>
        <ul class="coral-List">
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-json-helper/issues" target="_blank">
              Open a ticket
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-json-helper/blob/master/CHANGELOG.md" target="_blank">
              Read change log
            </a>
          </li>
        </ul>
      </div>

      <p>
        Copyright &copy; 2021 Yuhui. All rights reserved.
      </p>
      <p>
        <a class="coral-Link" href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a class="coral-Link" href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      var FORM_ID = 'data-element-configuration';

      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            setFormValues(FORM_ID, info.settings);
          }
        },

        getSettings: function() {
          var formValues = getFormValues(FORM_ID);

          return formValues;
        },

        validate: function() {
          var coralTextFieldSelector = 'input[is="coral-textfield"]';
          document.querySelectorAll(coralTextFieldSelector).forEach(function(input) {
            input.removeAttribute('invalid');
          });
          var errorTextFieldSelector = coralTextFieldSelector + '[name="fieldName"]';

          var formValues = getFormValues(FORM_ID);

          var stringValue = formValues.stringValue;

          var stringValueIsNotBlank = stringValue.length > 0;
          var stringValueIsValid = stringValueIsNotBlank;
          if (!stringValueIsValid) {
            var selector = errorTextFieldSelector.replace('fieldName', 'stringValue');
            document.querySelectorAll(selector).forEach(function(input) {
              input.setAttribute('invalid', '');
            });
          }

          return stringValueIsValid;
        }
      });

      /**
       * When the data element selector button is clicked,
       * open Data Collection Tags's data element selector,
       * then set the button's input sibling with the selected data element.
       */
      document.querySelectorAll('button[icon="data"]').forEach(function(button) {
        button.addEventListener('click', function(e) {
          var inputElement = this.closest('div.coral-InputGroup').querySelector('input');
          window.extensionBridge.openDataElementSelector().then(function(dataElement) {
            inputElement.value = dataElement;
          });
        });
      });
    </script>
  </body>
</html>
