<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Convert Object to JSON String</title>
    <link rel="stylesheet" href="../dist/css/coral.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../dist/js/coral.min.js"></script>
  </head>
  <body class="coral--light coral-Body--S u-coral-margin">
    <form id="data-element-configuration" class="coral-FormGroup coral-FormGroup--labelsAbove">
      <h4 class="coral-Heading--M">Stringify value to JSON</h4>

      <div class="coral-FormGroup-item">
        <label for="object-value" class="coral-FormGroup-itemLabel">
          Stringify from this data element
          <coral-icon icon="Asterisk" class="coral-FieldLabel-requiredIcon" size="XXS" alt="required"></coral-icon>
        </label>
        <div class="coral-InputGroup" style="width: 100%;" role="presentation">
          <input id="object-value" name="objectValue" type="text" value="" class="coral-InputGroup-input" is="coral-textfield" placeholder="object to stringify">
          <span class="coral-InputGroup-button">
            <button is="coral-button" icon="data" title="Data Element selector"></button>
          </span>
        </div>
      </div>

      <coral-accordion>
        <coral-accordion-item id="advanced-accordion">
          <coral-accordion-item-label>Advanced</coral-accordion-item-label>
          <div class="coral-FormGroup-item">
            <label for="replacer" class="coral-FormGroup-itemLabel">
              (optional) Alter the stringification process with a replacer parameter.<br />
              <b>IMPORTANT!</b> A data element that <i>returns a function (that accepts 2 arguments) or
              array (of strings or numbers)</i> must be provided here.
            </label>
            <div class="coral-InputGroup" style="width: 100%;" role="presentation">
              <input id="replacer" name="replacer" type="text" value="" class="coral-InputGroup-input" is="coral-textfield" placeholder="replacer parameter data element">
              <span class="coral-InputGroup-button">
                <button is="coral-button" icon="data" title="Data Element selector"></button>
              </span>
            </div>
            <a class="coral-Link" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#the_replacer_parameter" rel="noopener noreferrer" target="_blank">
              Learn more about the replacer parameter.
            </a>
          </div>
    
          <div class="coral-FormGroup-item">
            <label for="space" class="coral-FormGroup-itemLabel">
              (optional) Control spacing with a replacer parameter.<br />
              <b>IMPORTANT!</b> This <i>must</i> be a number or string, or a data element that returns
              a value of either type.
            </label>
            <div class="coral-InputGroup" style="width: 100%;" role="presentation">
              <input id="space" name="space" type="text" value="" class="coral-InputGroup-input" is="coral-textfield" placeholder="space parameter">
              <span class="coral-InputGroup-button">
                <button is="coral-button" icon="data" title="Data Element selector"></button>
              </span>
            </div>
            <a class="coral-Link" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#the_space_parameter" rel="noopener noreferrer" target="_blank">
              Learn more about the space parameter.
            </a>

            <coral-alert variant="warning">
              <coral-alert-header>
                Do not select the data element's "Clean text" checkbox when using the "space" parameter
              </coral-alert-header>
              <coral-alert-content>
                When a "space" parameter is provided, the browser returns a JSON string that has
                multiple lines. But if you select the "Clean text" checkbox, then AEP Tags strips out
                the new lines and returns a single line. This could be considered to be an
                inaccurate result. So, you are advised <em>not</em> to select the "Clean data"
                checkbox when using the "space" parameter.
              </coral-alert-content>
            </coral-alert>
          </div>
        </coral-accordion-item>
      </coral-accordion>
     </form>

    <section class="coral-Well">
      <h4 class="coral-Heading--S coral-Heading--light">How this Data Element works</h4>
      <p>
        Given a JavaScript value, this data element returns its JSON string.
      </p>
    </section>

    <hr class="coral-Divider--S">

    <footer class="coral--lightest coral-Body--XS">
      <div id="donations">
        <p>
          Donate: <a class="coral-Link" href="https://paypal.me/yuhuibc" target="_blank">PayPal</a>
        </p>
      </div>
      <div id="support">
        <p>
          Support Information
        </p>
        <ul class="coral-List">
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-json-helper/issues" target="_blank">
              Open a ticket
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-json-helper/blob/master/CHANGELOG.md" target="_blank">
              Read change log
            </a>
          </li>
        </ul>
      </div>

      <p>
        Copyright &copy; 2021-2022 Yuhui. All rights reserved.
      </p>
      <p>
        <a class="coral-Link" href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a class="coral-Link" href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      const FORM_ID = 'data-element-configuration';

      window.extensionBridge.register({
        init: (info) => {
          const { settings } = info;
          if (settings) {
            const { replacer = null, space = null } = settings;
            if (replacer === null) {
              info.settings.replacer = '';
            }
            if (space === null) {
              info.settings.space = '';
            }
            if (info.settings.replacer || info.settings.space) {
              toggleAccordion('advanced-accordion');
            }
            if (info.settings.space) {
              toggleWarning();
            }

            setFormValues(FORM_ID, info.settings);
          }
        },

        getSettings: () => {
          const formValues = getFormValues(FORM_ID);
          const { replacer, space } = formValues;
          if (replacer === '') {
            formValues.replacer = null;
          }
          if (space === '') {
            formValues.space = null;
          } else if (valueIsInteger(space)) {
            formValues.space = parseInt(space, 10);
          }

          return formValues;
        },

        validate: () => {
          const textFieldSelector = 'input[is="coral-textfield"]';
          const textFieldInputs = document.querySelectorAll(textFieldSelector);
          textFieldInputs.forEach((input) => {
            input.removeAttribute('invalid');
          });
          const errorTextFieldSelector = `${textFieldSelector}[name="fieldName"]`;

          const formValues = getFormValues(FORM_ID);
          const { objectValue, replacer, space } = formValues;

          const objectValueIsDataElementToken = isDataElementToken(objectValue);
          const objectValueIsValid = objectValueIsDataElementToken;
          if (!objectValueIsValid) {
            const selector = errorTextFieldSelector.replace('fieldName', 'objectValue');
            const errorTextFieldInputs = document.querySelectorAll(selector);
            errorTextFieldInputs.forEach((input) => {
              input.setAttribute('invalid', '');
            });
          }

          const replacerIsValid = replacer === '' || isDataElementToken(replacer);
          if (!replacerIsValid) {
            const selector = errorTextFieldSelector.replace('fieldName', 'replacer');
            const errorTextFieldInputs = document.querySelectorAll(selector);
            errorTextFieldInputs.forEach((input) => {
              input.setAttribute('invalid', '');
            });
          }

          const spaceIsValid = space === ''
            || valueIsInteger(space)
            || isDataElementToken(space)
            || space.length > 0;
          if (!spaceIsValid) {
            const selector = errorTextFieldSelector.replace('fieldName', 'space');
            const errorTextFieldInputs = document.querySelectorAll(selector);
            errorTextFieldInputs.forEach((input) => {
              input.setAttribute('invalid', '');
            });
          }

          return objectValueIsValid && replacerIsValid && spaceIsValid;
        }
      });

      /**
       * When the data element selector button is clicked,
       * open Data Collection Tags's data element selector,
       * then set the button's input sibling with the selected data element.
       */
      const dataButtons = document.querySelectorAll('button[icon="data"]');
      dataButtons.forEach((button) => {
        button.addEventListener('click', (event) => {
          const inputGroup = event.target.closest('div.coral-InputGroup');
          const inputElement = inputGroup.querySelector('input');
          window.extensionBridge.openDataElementSelector().then((dataElement) => {
            inputElement.value = dataElement;
          });
        });
      });
    </script>
  </body>
</html>
